In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
houses = pd.read_csv('sample_data/california_housing_train.csv')
houses.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [3]:
houses.shape

(17000, 9)

In [4]:
# There are two schools at these coordinates:
#school1_latitude = 37.39
#school1_longitude = -122.13
#school2_latitude = 33.83
#school2_longitude = -118.48

In [5]:
# The hypothesis I want to test is if median_house_value is higher close to schools

# You can assume that distances between two points p1 and p2 in lat and lon can be computed as usual Euclidean distances:
# d(p1,p2) = np.sqrt((p1_lon-p2_lon)**2 + (p1_lat-p2_lat)**2)
# Let's assume that a point is "close" to another if the distance in lat and lon is < 0.5

In [6]:
def distance_school1(row):
  return np.sqrt((row['latitude']-37.39)**2+(row['longitude']+122.13)**2)

def distance_school2(row):
  return np.sqrt((row['latitude']-33.83)**2+(row['longitude']+118.48)**2)

In [7]:
houses['D_sch1'] = houses.apply(distance_school1,axis=1)
houses['D_sch2'] = houses.apply(distance_school2,axis=1)

In [8]:
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,8.449402,4.185511
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,8.222877,4.050309
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,8.425847,3.922499
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,8.438963,3.914614
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,8.470301,3.918635

In [9]:
houses['distance_to_school'] = houses[['D_sch1','D_sch2']].apply(min,axis=1)
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2,distance_to_school
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,8.449402,4.185511,4.185511
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,8.222877,4.050309,4.050309
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,8.425847,3.922499,3.922499
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,8.438963,3.914614,3.914614
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,8.470301,3.918635,3.918635

In [10]:
houses['close_to_school?'] = houses['distance_to_school']<0.5
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2,distance_to_school,close_to_school?
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,8.449402,4.185511,4.185511,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,8.222877,4.050309,4.050309,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,8.425847,3.922499,3.922499,False
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,8.438963,3.914614,3.914614,False
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,8.470301,3.918635,3.918635,False

In [11]:
houses.groupby('close_to_school?').agg({'median_house_value':'mean'})

                  median_house_value
close_to_school?
False                  173599.349183
True                   258114.259035

In [ ]:
##################### NEW CONTENT #####################

In [12]:
# Preparation
houses_close = houses[houses['close_to_school?']==True]
houses_far = houses[houses['close_to_school?']==False]
houses_close_sample = houses_close.sample(49)
houses_close_std = houses_close['median_house_value'].std()

display(houses_close_sample.head())
display(houses_close_sample.shape)
display(houses_close_std)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2,distance_to_school,close_to_school?
13056,-121.87,37.43,22.0,3805.0,596.0,2118.0,621.0,6.2892,254200.0,0.263059,4.944906,0.263059,True
14455,-122.13,37.67,38.0,2012.0,347.0,880.0,332.0,3.1734,181600.0,0.280000,5.297934,0.280000,True
8109,-118.43,34.24,36.0,1488.0,313.0,1221.0,296.0,4.0208,171400.0,4.859269,0.413038,0.413038,True
14783,-122.20,37.75,36.0,606.0,132.0,531.0,133.0,1.5809,70000.0,0.366742,5.404147,0.366742,True
7696,-118.38,34.19,42.0,1308.0,289.0,950.0,302.0,2.7379,181500.0,4.929757,0.373631,0.373631,True

(49, 13)

116207.86526912231

In [13]:
# Simple interval of confidence 95.5% for prices of houses close to a school

In [14]:
# To create our interval at 95.5% confidence we need
# 1. The mean of the sample
# 2. The number of observation
# 3. The std of the original distribution

mean = houses_close_sample['median_house_value'].mean()
std = houses_close_std
n = 49

In [15]:
#so we can construct our 95.5% confidence interval

print("left end: ", mean - 2* (std/np.sqrt(n)))
print("right end: ", mean + 2* (std/np.sqrt(n)))

left end:  209799.83441290382
right end:  276204.3288524023

In [16]:
# And of course python does it for us
st.norm.interval(0.955,loc=mean,scale=std/np.sqrt(49))

(209722.565117804, 276281.5981475021)

In [17]:
#do it yourself
# what if we prefer 99.7% confidence?

In [18]:
print("left end: ", mean - 3* (std/np.sqrt(n)))
print("right end: ", mean + 3* (std/np.sqrt(n)))

left end:  193198.7108030292
right end:  292805.4524622769

In [ ]:
#do it yourself
# what if we prefer 98% confidence?

In [ ]:
# answer
z = st.norm.ppf(.99) #watch out, why 0.99? Double tail.
z
print("left end: ", mean - z* (std/np.sqrt(n)))
print("right end: ", mean + z* (std/np.sqrt(n)))

left end:  214106.6236283767
right end:  291346.6008614192

In [ ]:
houses_close['median_house_value'].mean()

258114.25903525593

In [ ]:
#okay, now we don't have the real std, just the actual sample
houses_close_sample = houses_close.sample(100)

In [22]:
#we want a 98% confidence interval for the mean prices of houses close to schools
# first we compute the t value
t = st.t.ppf(1-((1-0.98)/2),100-1)
t

2.3646058614359737

In [23]:
#now the sample mean and sample std
s = houses_close_sample['median_house_value'].std(ddof=1)
mean = houses_close_sample['median_house_value'].mean()
n=100

In [24]:
#and finally, the interval itself:
print("left end: ", mean - t* (s/np.sqrt(n)))
print("right end: ", mean + t* (s/np.sqrt(n)))

left end:  216402.52228264167
right end:  269601.6409826644

In [25]:
st.t.interval(0.98,100-1, loc=mean, scale=s/np.sqrt(100))

(216402.52228264167, 269601.6409826644)

In [26]:
#do it yourself
# repeat this exercise for the set of houses away from schools
houses_far_sample = houses_far.sample(100)

In [27]:
#answer
t = st.t.ppf(1-((1-0.98)/2),100-1)
s = houses_far_sample['median_house_value'].std()
mean = houses_far_sample['median_house_value'].mean()
n=100
print("left end: ", mean - t* (s/np.sqrt(n)))
print("right end: ", mean + t* (s/np.sqrt(n)))

left end:  158145.2841089496
right end:  212894.7758910504

In [28]:
st.t.interval(0.98,100-1, loc=mean, scale=s/np.sqrt(100))

(158145.2841089496, 212894.7758910504)

In [ ]:
#What do we conclude?
#We have answered our question statistically!

## Computing number of samples needed

Confidence interval = [μ - t * s / √n , μ + t * s / √n]

W =   (μ + t * s / √n) - (μ - t * s / √n) = 2 * t * s / √n


Objective: n=?

W = 2 * t * s / √n         ⇔

√n * W = 2 * t * s         ⇔

√n = 2 * t * s / W         ⇔

n = (2 * t * s / W)2



Problem: t depends on n!
98% confidence -> t = st.t.ppf(1-((1-0.98)/2),n-1)

So...
Start by assuming n really large to get a provisional t1

98% confidence -> t1 = st.t.ppf(1-((1-0.98)/2),99999999-1)= st.norm.ppf(1-((1-0.98)/2))

Now plug this t into your equation to get a provisional n1

n1 = (2 * t1 * s / W)2

Now use this provisional n1 to refine your estimate for t, t2

98% confidence ->  t2 = st.t.ppf(1-((1-0.98)/2), n1-1)

Now plug this t into your equation to get a provisional n2

n2 = (2 * t2 * s / W)2

…

Until you get the same n twice in a row

In [ ]:
#e.g. number of samples needed to have 98% confidence to get interval of Width = 10.000 or less

In [ ]:
def find_n(t,s,W):
  return (2*t*s/W)**2

In [ ]:
W = 10000

In [ ]:
t0 = st.norm.ppf(1-((1-0.98)/2))
t0

2.3263478740408408

In [ ]:
n_temp = find_n(t0,s,W)
n_temp

2562.1406552854155

In [ ]:
t1 = st.t.ppf(1-((1-0.98)/2),n_temp-1)
t1

2.3278047672974145

In [ ]:
n_temp = find_n(t1,s,W)
n_temp

2565.3507807539977

In [ ]:
t2 = st.t.ppf(1-((1-0.98)/2),n_temp-1)
t2

2.3278029424267968

In [ ]:
n_temp = find_n(t2,s,W)
n_temp

2565.346758568379

In [ ]:
#done