In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
houses = pd.read_csv('sample_data/california_housing_train.csv')
houses.head()

FileNotFoundError: [Errno 2] No such file or directory: 'sample_data/california_housing_train.csv'

In [ ]:
houses.shape

(17000, 9)

In [ ]:
# There are two schools at these coordinates:
#school1_latitude = 37.39
#school1_longitude = -122.13
#school2_latitude = 33.83
#school2_longitude = -118.48

In [ ]:
# The hypothesis I want to test is if median_house_value is higher close to schools

# You can assume that distances between two points p1 and p2 in lat and lon can be computed as usual Euclidean distances:
# d(p1,p2) = np.sqrt((p1_lon-p2_lon)**2 + (p1_lat-p2_lat)**2)
# Let's assume that a point is "close" to another if the distance in lat and lon is < 0.5

In [ ]:
def distance_school_1(row):
  return np.sqrt((row['longitude']+122.13)**2 + (row['latitude']-37.39)**2)

def distance_school_2(row):
  return np.sqrt((row['longitude']+118.48)**2 + (row['latitude']-33.83)**2)

In [ ]:
houses['D_sch1'] = houses.apply(distance_school_1,axis=1)
houses['D_sch2'] = houses.apply(distance_school_2,axis=1)
houses.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,8.449402,4.185511
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,8.222877,4.050309

In [ ]:
def close_to_school(row):
  if (row['D_sch1']>0.5) & (row['D_sch2']>0.5):
    return False
  else: 
    return True

In [ ]:
houses['close_to_school?'] = houses.apply(close_to_school,axis=1)
houses.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2,close_to_school?
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,8.449402,4.185511,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,8.222877,4.050309,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,8.425847,3.922499,False

In [ ]:
houses.groupby('close_to_school?').agg({'median_house_value':'mean'})

                  median_house_value
close_to_school?
False                  173567.268350
True                   258125.208198

In [ ]:
##################### NEW CONTENT #####################

In [ ]:
# Preparation
houses_close = houses[houses['close_to_school?']==True]
houses_far = houses[houses['close_to_school?']==False]

houses_close_sample = houses_close.sample(49)
houses_close_std = houses_close['median_house_value'].std()

display(houses_close_sample.head())
display(houses_close_sample.shape)
display(houses_close_std)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,D_sch1,D_sch2,close_to_school?
12915,-121.83,37.26,7.0,3609.0,751.0,1739.0,682.0,4.5033,213100.0,0.326956,4.794518,True
5833,-118.20,34.05,8.0,762.0,204.0,728.0,174.0,2.4886,137500.0,5.157567,0.356090,True
5603,-118.18,34.16,34.0,5012.0,746.0,1699.0,715.0,9.4987,500001.0,5.102490,0.445982,True
7141,-118.32,33.87,28.0,3763.0,762.0,1967.0,724.0,5.3244,271900.0,5.187148,0.164924,True
14728,-122.19,37.77,52.0,2329.0,445.0,1144.0,417.0,3.5114,151200.0,0.384708,5.411811,True

(49, 12)

116188.16198256522

In [ ]:
# Simple interval of confidence 95.5% for prices of houses close to a school

In [ ]:
#what do I need?
#1 the mean of the sample
#2 number of observations
#3 std of the original population

In [ ]:
#1
mean = houses_close_sample['median_house_value'].mean()
mean

249536.81632653062

In [ ]:
#2
n= 49

In [ ]:
#3
std = houses_close['median_house_value'].std(ddof=0)
std

116179.59574507928

In [ ]:
mean - 2* (std/np.sqrt(n))

216342.64611365082

In [ ]:
mean + 2* (std/np.sqrt(n))

282730.9865394104

In [ ]:
houses_close['median_house_value'].mean()

258125.20819817163

In [ ]:
import scipy.stats as st

In [ ]:
c = 0.92

In [ ]:
st.norm.ppf(1-((1-c)/2))

1.7506860712521692

In [ ]:
st.norm.interval(0.955,loc=mean,scale=std/np.sqrt(49))

(216262.94242329703, 282810.6902297642)

In [ ]:
#okay, now we don't have the real std, just the actual sample
houses_close_sample = houses_close.sample(100)

In [ ]:
mean = houses_close_sample['median_house_value'].mean()

In [ ]:
n = 100

In [ ]:
std = houses_close_sample['median_house_value'].std(ddof=1)

In [ ]:
c = 0.98

In [ ]:
st.t.ppf(1-((1-c)/2),100-1)

2.3646058614359737

In [ ]:
mean-2.0303785412098874*(std/np.sqrt(100))

230030.62184125386

In [ ]:
mean+2.0303785412098874*(std/np.sqrt(100))

271935.5181587461

In [ ]:
st.t.interval(0.955,100-1,loc=mean,scale=std/np.sqrt(100))

(230030.6218412539, 271935.5181587461)

In [ ]:
#do it yourself
# repeat this exercise for the set of houses away from schools
houses_far_sample = houses_far.sample(100)

In [ ]:
n = 100
c = 0.98

In [ ]:
mean = houses_far_sample['median_house_value'].mean()
std = houses_far_sample['median_house_value'].std(ddof=1)

In [ ]:
print('interval for far')
st.t.interval(c,n-1,loc=mean,scale=std/np.sqrt(n))

interval for far

(143411.35611373652, 189418.68388626346)

In [ ]:
print('interval for far')
print((143411.35611373652, 201418.68388626346))

interval for far
(143411.35611373652, 201418.68388626346)

In [ ]:
print('interval for near')
print((195030.6218412539, 271935.5181587461))

interval for near
(195030.6218412539, 271935.5181587461)